.banner-carousel .slick-list {
  height: 300px !important;
  border-radius: 5px;
  overflow: hidden;
}

.slick-prev::before, .slick-next::before {
  color: #252525;
  font-size: 40px;
}

.slick-next {
  right: -30px;
}

.slick-prev {
  left: -50px;
}