.banner-carousel .slick-list {
  border-radius: 5px;
  overflow: hidden;
}

.slick-prev::before, .slick-next::before {
  color: #252525;
  font-size: 40px;
}

.slick-next {
  right: -30px;
  z-index: 9999;
}

.slick-prev {
  left: -50px;
}

.menuMobileItem {
  * {
    width: 100%;
  }
}