.banner-carousel .slick-list {
  border-radius: 5px;
  overflow: hidden;
}

.slick-prev::before, .slick-next::before {
  color: #252525;
  font-size: 40px;
}

.slick-slide {
  & > div {
    display: flex;
  }
}

.slick-next {
  right: 20px;
  top: 50%;
  z-index: 9999;
}

.slick-prev {
  left: 20px;
  top: 50%;
  z-index: 9999;
}

.menuMobileItem {
  * {
    width: 100%;
  }
}

.sr-only	{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}